# built cheatsheets and handouts
# ----------------------------------
cheatsheets*.p[dn][fg]
handout-*.p[dn][fg]

# TeX auxiliary files
# ----------------------------------
*.aux
*.log
*.out
*.upa

# generated figures
# ----------------------------------
figures/*.pdf
fonts/**/*.[ot]tf
